# Ignorar archivos generados
build/
dist/

# Ignorar todo el contenido de data
data/*

# Permitir que exista la carpeta data
!data/.gitkeep

# Ignorar archivos temporales
*.log
*.tmp

# Ignorar binarios
*.class